<?xml version='1.0' encoding='utf-8'?>
<widget id="rnr.Kareer.com" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kareer</name>
    <description>
    	Tinder for jobs
    </description>
    <author email="info@rnrdigitalconsultancy.com" href="http://rnrdigitalconsultancy.com">
        RNR Digital Consultancy
    </author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <icon density="ldpi" src="www/assets/img/icons/icon.png" />
        <icon density="mdpi" src="www/assets/img/icons/icon.png" />
        <icon density="hdpi" src="www/assets/img/icons/icon.png" />
        <icon density="xhdpi" src="www/assets/img/icons/icon.png" />
        <icon density="xxhdpi" src="www/assets/img/icons/icon.png" />
        <icon density="xxxhdpi" src="www/assets/img/icons/icon.png" />
    </platform>
    <platform name="ios">
        <icon height="57" platform="ios" src="www/assets/img/icons/icon.png" width="57" />
        <icon height="114" platform="ios" src="www/assets/img/icons/icon.png" width="114" />
        <icon height="40" platform="ios" src="www/assets/img/icons/icon.png" width="40" />
        <icon height="80" platform="ios" src="www/assets/img/icons/icon.png" width="80" />
        <icon height="50" platform="ios" src="www/assets/img/icons/icon.png" width="50" />
        <icon height="100" platform="ios" src="www/assets/img/icons/icon.png" width="100" />
        <icon height="60" platform="ios" src="www/assets/img/icons/icon.png" width="60" />
        <icon height="120" platform="ios" src="www/assets/img/icons/icon.png" width="120" />
        <icon height="180" platform="ios" src="www/assets/img/icons/icon.png" width="180" />
        <icon height="72" platform="ios" src="www/assets/img/icons/icon.png" width="72" />
        <icon height="144" platform="ios" src="www/assets/img/icons/icon.png" width="144" />
        <icon height="76" platform="ios" src="www/assets/img/icons/icon.png" width="76" />
        <icon height="152" platform="ios" src="www/assets/img/icons/icon.png" width="152" />
        <icon height="29" platform="ios" src="www/assets/img/icons/icon.png" width="29" />
        <icon height="58" platform="ios" src="www/assets/img/icons/icon.png" width="58" />
        <icon height="87" platform="ios" src="www/assets/img/icons/icon.png" width="87" />
    </platform>
    <engine name="android" spec="^6.2.3" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <plugin name="cordova-plugin-inappbrowser" spec="^2.0.2" />
    <plugin name="cordova-plugin-googleplus" spec="^5.2.1">
        <variable name="REVERSED_CLIENT_ID" value="com.googleusercontent.apps.17844365769-g9dr1gmokhvv2oi5qrusj6b796q1l1e8" />
    </plugin>
</widget>
