@-webkit-keyframes animate_page{       
	0% {
		height: 0%;
		width:0%;
		border-radius: 100%;
	}
	50% {
		height: 90%;
		width: 90%;
		top:0%;
	}
	100% {
		height: 100%;
		width:100%;
		top:0%;
	}
}

@font-face {
    font-family: 'kareer';
    src: url('../fonts/kareer.eot');
    src: url('../fonts/kareer.eot?#iefix') format('embedded-opentype'),
         url('../fonts/kareer.woff2') format('woff2'),
         url('../fonts/kareer.woff') format('woff'),
         url('../fonts/kareer.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes rotate{       
	0% {
		transform: rotate(1deg);
		-o-transform: rotate(1deg);
		-moz-transform: rotate(1deg);
		-webkit-transform: rotate(1deg);
	}
	50% {
		transform: rotate(180deg);
		-o-transform: rotate(180deg);
		-moz-transform: rotate(180deg);
		-webkit-transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
		-o-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-webkit-transform: rotate(360deg);
	}
}

body {
  font-family: kareer !important;
}
.accent-1{
	background: #54b3af !important;
}
.accent-2{
	background: #73587b !important;
}
.text-accent-1{
	color: #54b3af !important;
}
.text-accent-2{
	color: #73587b !important;
}
.no-bg{
	background: transparent !important;
	border: none !important;
	box-shadow: none !important;
}
.button-icons{
	line-height: 35px;
}
.ellipsis{
	overflow: hidden;
	position: relative;
	line-height: 1.2em;
	text-align: justify;
	margin-right: -1em;
	padding-right: 1em;
}

.ellipsis:before {
	content: '...';
	position: absolute;
	right: 0;
	bottom: 0;
}

.ellipsis:after {
	content: '';
	position: absolute;
	right: 0;
	width: 1em;
	height: 1em;
	margin-top: 0.2em;
	background: white;
}
.range-bar, .range-bar-active{
    height:5px !important;
    border-radius:10px;
}
.range-knob-wrap{
	width: 15px !important;
	height: 15px !important;
}
.range-knob-label{
	display: none;
}

.loader{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.welcome-screen-content{
	text-align: center;
}
.welcome-screen-content .page-content{
	background: rgba(255,255,255,0.8) !important;
}
.welcome-screen-content .holder{
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.welcome-screen-content .login-screen-title{
	margin:0px 0px 100px 0px;
}

.block-create-account{
	position:  fixed;
	bottom:  0%;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
}

.login-screen-content{
	overflow:  hidden;
}
.login-screen-title{
	margin: auto !important;
}
.login-screen-title h4{
	margin: 0 !important;
}

.block-login{
	width: 150px;
	margin: 50px;
	position:  relative;
}
.block-create-account{
	text-align:  center;
	margin-top: 10px;
}

.tab-link{
	color: rgba(255,255,255, 0.3) !important;
}
.tab-link-active{
	color: #fff!important;
}

.card .tab-link{
	color: rgba(0, 0, 0, 0.3) !important;
}
.card .tab-link-active{
	color: #0b0b0b!important;
}

#profile{
	text-align:center;
	width:  100%;
}
#profile .personal-info{
	height: 150px;
	background: transparent;
	transition: 0.5s;
	padding: 20px;
}
#profile img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #fff;
	border: 1px solid #fff;
	transition: 0.5s;
	position: absolute;
	left: 50%;
	transform: translateX(-50px);
	margin:  0px;
}
#profile h3.fullname{
	font-weight: bold;
	font-size: 25px;
	margin-bottom: 20px;
	color: #fff;
	border: none;
	width: 100%;
	transition: 0.5s;
	position: absolute;
	top: 70%;
	left: 50%;
	margin: unset;
	transform: translateX(-50%);
	text-align:  center;
}
#profile p.about{
	font-weight: normal;
	margin: 0;
	color: #c0c0c0;
	min-height: 500px;
}
#profile h4{
	font-weight: bold;
	margin-bottom: 0;
	width: 100%;
}

/**/
#profile.active .personal-info{
	height: 70px;
	background: #57a084;
	transition: 0.5s;
	padding: 0px;
}
#profile.active img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 10px;
	transition: 0.5s;
	position:  absolute;
	left: 0%;
	transform: translate(0px);
	background:  #fff;
}
#profile.active h3.fullname{
	margin:0px;
	width: 250px;
	left: 20px;
	position: absolute;
	top: 50%;
	transform: translateY(-10px);
	transition: 0.5s;
	color: #fff;
	/* text-align: left; */
	font-size: 15px;
}
/**/

.rotate{
	animation: rotate 0.3s linear reverse;
	-webkit-animation: rotate 0.3s linear reverse;
	-moz-animation: rotate 0.3s linear reverse;
	-o-animation: rotate 0.3s linear reverse;
}

#tab_account .card-content{
	/* padding: 20px 0px 10px 0px; */
	/* height: 300px; */
	background: #fbfbfb;
	background: -webkit-linear-gradient(to top, #fbfbfb, #fbfbfb);
	background: linear-gradient(to top, #fbfbfb, #fbfbfb);
}
#tab_account .card-header{
	display: block;
	padding: 20px 0px 0px 0px;
	border: none;
}
#tab_account .card-header:after{
	height: 0px;
}

#tab_account #menu{
	margin: 0px 0px 0px 0px;
	width: 100%;
}

#tab_account #menu .menu-link{
	text-align:center;
	margin: 0px 0px 0px 0px;
}

#tab_account #menu a{
}
#tab_account #menu a i{
	font-size: 20px;
	border-radius: 50%;
	padding:15px;
	color:#c0c0c0;
}
#tab_account #menu p{
	margin:0;
	color:#c0c0c0;
}

#about, #skills, #menu{
	margin: 0px 16px;
}
#about p{
	height: 100px;
	overflow: hidden;
	margin: 0;
}
#skills .row{
	display: inline-table; 
}
#skills .row .chip{
	margin: 5px 5px;
}


#tab_account, #tab_jobs, .tabbar, #tab_search, .account-subpage{
	background: #69bb9b !important;
	background: -webkit-linear-gradient(to top, #69bb9b, #6abc9c) !important;
	background: linear-gradient(to top, #69bb9b, #6abc9c) !important;
	overflow:  hidden;
	height:  100%;
}
#tab_account .block, #tab_jobs .block, #tab_search .block{
	margin: 0;
	padding: 0;
}
.card{
	border-radius: 5px;
	overflow:  hidden;
	margin: 8px 8px !important;
}
#tab_jobs .card-content:after{
	background-color: #d6d7e9 !important;
	height: 100px;
	bottom: -20px;
}
#tab_jobs .card-header{
	background: url('../img/bg/img-bg.jpg') center/cover no-repeat !important;
}
#tab_jobs .company{
	position: relative;
	top: 0px;
	width:  100%;
	text-align:  center;
	font-size:  15px;
	z-index:  1000;
	-webkit-transition: 0.1s ease-out;
	transition: 0.1s ease-out;
}
#tab_jobs .card .company{
	margin: 0 auto;
}
#tab_jobs .logo-holder{
	background: #fff;
	width:100px;
	height: 100px;
	border: 1px solid rgba(0,0,0,0.2);
	margin:  auto;
	overflow:  hidden;
	border: 3px solid #fff;
	box-shadow: none !important; 
	position:  relative;
}
#tab_jobs .logo{
	background: #fff;
	width:100%;
	height: 100%;
}
#tab_jobs .card .logo-holder{
	width: 80px;
	height: 80px;
	margin: auto;
}
#tab_jobs .card .information{
	width: 80%;
	margin: 0 auto;
}

#tab_jobs .card .information div{
	overflow:  hidden;
	text-overflow:  ellipsis;
	display: block;
	display: -webkit-box;
	max-width: 400px;
	height: calc(12px * 1.4 * 2px);
	margin: 0 auto;
	font-size: 12px;
	line-height: 1.4;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
#tab_jobs .card .card-content{
	 border-radius: 20px 20px 20px 20px;
	 max-height: calc(100% - 230px);
}
#tab_jobs .card .card-footer{
	 background: #fff;
}
#tab_jobs .job-description p, #tab_jobs .job-description ul, #tab_jobs .job-description li{
	font-size: 12px;
	margin-top:0px;
}
#tab_jobs .job-description{
	height: 300px;
	overflow:  hidden;
}

#tab_jobs .block{
	height: calc(100% - 50px);
}
#tab_jobs .swiper-container, #tab_jobs .job{
	height: 100;
	box-shadow: none !important;
}
#tab_jobs h3{
	width:100%;
	margin:0;
}
#tab_jobs .holder_action{
	width: 50%;
	position: relative;
	bottom:0;
	left:0;
	right: 0;
	margin:auto;
}
#tab_jobs .holder_action row{
}
#tab_jobs .tall{
	height: calc(100% - 130px);
}

#tab_search .card-content{
	padding:0;
}
#tab_search form{
	width:100%;
}

.account-subpage .page-content .content{
	height:100%;
	/* position: absolute; */
	/* padding: 0px 24px; */
	overflow: hidden;
}
.account-subpage .page-content .list{
	margin:0px;
	width: 100%;
	/* padding-bottom: 100px; */
}
.account-subpage .card-content, .md .card-content-padding{
	padding: 0px 10px;
}
.account-subpage .page-content form, .account-subpage .card-content form, #display_skills .block{
	width:100%;
	margin-bottom: 16px;
}
/*.account-subpage .page-content .list .item-input-wrap{*/
.list .item-input-wrap{
	background: #f1f1f163;
	/* border: 1px solid #f0f0f0; */
	border-radius: 2px;
	padding: 2px 2px 2px 5px;
}

#list_schools .item-media i{
	font-size: 40px;
}
#list_jobs .item-subtitle{
	white-space: unset;
}
#list_jobs .item-subtitle p{
	/* white-space: unset; */
	margin:  0;
	background: #4776e621;
	padding: 5px;
	border-radius: 10px;
}

.kareer-card .card-header {
	display: block;
	padding: 10px;
}
.kareer-card .card-content {
	padding: 5px 16px;
}
.kareer-card .kareer-avatar {
	float: left;
}
.kareer-card .kareer-name {
	margin-left: 44px;
	font-size: 14px;
	font-weight: 500;
}
.kareer-card .kareer-date {
	margin-left: 44px;
	font-size: 13px;
	color: #8e8e93;
}
.kareer-card .card-footer {
	background: #fafafa;
}
.kareer-card .card-footer a {
	color: #81848b;
	font-weight: 500;
}
.kareer-card .card-content img {
	display: block;
}
.kareer-card .card-content-padding {
	padding: 15px 10px;
}
.kareer-card .card-content-padding .likes {
	color: #8e8e93;
}

.md .page-content .searchbar {
    border-radius: unset;
    margin: unset;
    width: unset;
    -webkit-box-shadow: unset;
    box-shadow: unset;
}
.searchbar-expandable {
	position: absolute;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	pointer-events: none
}
.md .searchbar-expandable {
	height: 100%;
}
.md .searchbar-inner {
	position:  relative;}

.md .page>.searchbar textarea, .md .page>.searchbar input[type=text], .md .searchbar-expandable textarea, .md .searchbar-expandable input[type=text], .md .subnavbar .searchbar textarea, .md .subnavbar .searchbar input[type=text] {
	padding: 0px !important;
	font-size: 15px !important;
	font-weight: normal;
	color: inherit;
	width: 100%;
	position:  relative;
	background:  #4776e621;
}
.md .page>.searchbar .searchbar-disable-button, .md .page>.searchbar .searchbar-icon, .md .searchbar-expandable .searchbar-disable-button, .md .searchbar-expandable .searchbar-icon, .md .subnavbar .searchbar .searchbar-disable-button, .md .subnavbar .searchbar .searchbar-icon {
	left: 4px
}
.md .searchbar-expandable {
	width: 56px;
	height: 100%;
	opacity: 0;
	top: 50%;
	margin-top: -28px;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	left: 100%;
	margin-left: -56px;
}
.md .navbar .searchbar-expandable {
	border-radius: 28px;
	width: 56px;
	margin-top: -28px;
	margin-left: -56px
}
@media (min-width:768px) {
	.md .navbar .searchbar-expandable {
		border-radius: 32px;
		width: 64px;
		margin-top: -32px;
		margin-left: -64px
	}
}
.md .subnavbar .searchbar-expandable, .md .toolbar .searchbar-expandable {
	border-radius: 24px;
	width: 48px;
	margin-top: -24px;
	margin-left: -48px
}
.md .tabbar-labels .searchbar-expandable {
	border-radius: 36px;
	width: 72px;
	margin-top: -36px;
	margin-left: -72px
}
.md .searchbar-expandable.searchbar-enabled {
	width: 100%;
	border-radius: 0;
	opacity: 1;
	pointer-events: auto;
	top: 0;
	margin-top: 0;
	left: 0;
	position: relative;
	margin-left: 0;
}

#display_info p.item-inner{
	padding: 0px 0px 0px 15px !important;
	margin: 0px;
}
#display_info .item-link{
	margin: 10px 0 !important;
}
#display_info .item-inner:after{
	background: transparent;
}

#display_info{
	padding: 0px 0px;
	margin: 50px 0px;
}

#display_skills{
	width:100%;
}

#display_info .card, #list_schools .card, #list_jobs .card{
	margin: 16px 8px !important;
}

.job-description .row{
	width: 100%;
	display: inline-block;
}

#social_icons div{
	width:50px;
	height:50px;
	border-radius: 50%;
}
/*resume builder*/
.holder_action.{
	margin: 0 8px;
}
.action_buttons button{
	width: 48px !important;
	min-width: 10px !important;
}
.action_buttons p{
	/* width: 48px !important; */
	/* min-width: 10px !important; */
	margin: 0;
}

#resume .page-content{
	padding-top: 0 !important;
}
#resume .list{
	margin: 0 20px !important;
}
#resume .card{
	margin-bottom: 65px !important;
}
.resizable{
	white-space: normal !important;
}

.error{
	font-size:  10px;
}

#display_picture, #display_logo{
	width: 80px;
	/* max-width: 100%; */
	height: 80px;
	margin: 0 auto;
	position:  relative;
	left: 50%;
	transform: translate(-80px);
	border: solid 1px #ccc;
	border-radius: 50%;
}

#form_signupAuth {
    height: 30%;
}

.item-input-password-preview, .in-field-btn{
	width: 28px !important;
	min-width: 28px !important;
	top: 25%;
	position:  absolute;
	left: 100%;
	background-color: transparent !important;
	padding: 0px !important;
	transform: translate(-35px) !important;
	/* border: solid 2px #ffffff !important; */
	cursor: pointer;
}
.item-input-password-preview i,
 .in-field-btn i{
	/* top: 2px; */
	/* left: 50%; */
	/* font-size: 20px !important; */
	/* position:  relative; */
	/* transform: translate(-10px); */
	/* opacity: 0.5; */
	/* color: #000; */
}
.item-input-info{
	width:100%;
	text-align: right;
}

button:disabled{
    opacity: .55!important;
    pointer-events: none!important;
}

#menu_account{
	border-top: solid 1px #e0e0e0;
}

#profile .other-info{
	padding: 0px 24px 24px 24px;
	text-align:  left;
	height: 500px;
	/* width: 100%; */
	overflow: hidden!important;
	position: absolute;
}

#display_skills ul li:nth-child(1){
	padding: 10px 0px;
}

.hidden{
	display: none;
}

#display_accountLogin div.list ul li:nth-child(2){
	padding-bottom: 20px;
}

.page-content{
	overflow: hidden;
}

.page-content .title{
	color:white;
	margin:10px 20px;
	font-size: 20px;
}

.btn-nav{
	top: 65px;
	transform: translateX(-40px) !important;
}

.link.popup-close.in-field-btn{
	background: transparent !important;
}

#list_schools .media-list li a.popup-open.in-field-btn i, #list_jobs .media-list li a.popup-open.in-field-btn i{
	font-size: 50px;
	width: 100%;
	height:  100%;
}
#list_schools .media-list li a.popup-open.in-field-btn, #list_jobs .media-list li a.popup-open.in-field-btn{
	background: transparent !important;
	color: #0000004d;
	height:  50px;
	width: 50px !important;
	left: 50% !important;
	top: 20px;
	transform: translate(-25px) !important;
}